@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  letter-spacing: 0.05rem;
  color: #ffffff;
  background: #000000;
  font-size: 0.9rem;
}

.drag {
  -webkit-app-region: drag
}

.scrollBarHide::-webkit-scrollbar {
  display: none;
}

.customScroll::-webkit-scrollbar-track
{
	background: none
}

.customScroll::-webkit-scrollbar
{
	width: 3px;
}

.customScroll::-webkit-scrollbar-thumb
{
  background: #ffffff75;
}

/* react-split-it classes */
.gutter {
  flex-shrink: 0;
  flex-grow: 0;
}
.gutter-horizontal {
  cursor: col-resize;
}
.gutter-vertical {
  cursor: row-resize;
}

.gutter-dragging:hover {
  background: rgba(255, 255, 255, 0.899);
}

.pane {
  flex-shrink: 1;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}