@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  letter-spacing: 0.05rem;
  color: #ffffff;
  background: #000000;
  font-size: 0.9rem;
}

.drag {
  -webkit-app-region: drag
}

.scrollBarHide::-webkit-scrollbar {
  display: none;
}

.customScroll::-webkit-scrollbar-track
{
	background: none
}

.customScroll::-webkit-scrollbar
{
	width: 3px;
}

.customScroll::-webkit-scrollbar-thumb
{
  background: #ffffff75;
}

